@page "/articles"
@attribute [StreamRendering]
@inject ISender Sender


<h3>Articles</h3>

<a href="/article-editor" class="btn btn-primary">Create New Article</a>

@if (!articles.Any())
{
    <p><em>Loading...</em></p>
} else
{
    @foreach (var article in articles)
    {
        <h4>@article.Title</h4>
        <p>@article.Content</p>
        <small>@article.DatePublished</small>
        <a href="/article-editor/@article.Id">Edit Article</a>
    }
}

@code {
    private List<ArticleResponse> articles = new();

    protected override async Task OnInitializedAsync()
    {
        var results = await Sender.Send(new GetArticlesQuery());

        if(results is not null)
        {
            articles = results;
        }
    }

}
