@page "/articles"
@attribute [StreamRendering]
@inject ISender Sender


<h3>Articles</h3>

@if (!articles.Any())
{
    <p><em>Loading...</em></p>
} else
{
    @foreach (var article in articles)
    {
        <h4>@article.Title</h4>
        <p>@article.Content</p>
        <small>@article.DatePublished</small>
    }
}

@code {
    private List<Article> articles = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        var results = await Sender.Send(new GetArticlesQuery());

        if(results is not null)
        {
            articles = results;
        }

        await Task.CompletedTask;
    }

}
